<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyue.moodshare.dao.AnswerDao">

	<sql id="Base_Column">
		aid,
		content,
		huserId,
		huserName,
		huserImg,
		buserId,
		buserName,
		buserImg,
		cid
	</sql>

	<resultMap type="com.xiangyue.moodshare.entity.Answer" id="Base_Map">
		<id property="aid" column="aid" />
		<result property="content" column="content" />
		<result property="huserId" column="huserId" />
		<result property="huserName" column="huserName" />
		<result property="huserImg" column="userImg" />
		<result property="buserId" column="buserId" />
		<result property="buserName" column="buserName" />
		<result property="buserImg" column="buserImg" />
		<result property="cid" column="cid" />
		<collection property="zanswers" column="aid" 
			select="com.xiangyue.moodshare.dao.ZanswerDao.getZanswers" />
	</resultMap>

	<insert id="insert" parameterType="com.xiangyue.moodshare.entity.Answer">
		insert into answer(
		<include refid="Base_Column" />
		)
		values(
		null,
		#{content},
		#{huserId},
		#{huserName},
		#{huserImg},
		#{buserId}
		#{buserName}
		#{buserImg}
		#{cid}
		)
	</insert>

	<select id="getAnswers" resultMap="Base_Map" parameterType="java.lang.Long">
		select
		<include refid="Base_Column" />
		from answer
		where cid=#{cid}
	</select>

	<delete id="delete">
		delete from answer
		where
		aid = #{aid}
	</delete>

</mapper>