<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyue.moodshare.dao.CommentDao">

	<sql id="Base_Column">
		cid,
		content,
		userId,
		userName,
		userImg,
		nid
	</sql>
	
	<resultMap type="com.xiangyue.moodshare.entity.Comment" id="Base_Map">
		<id property="cid" column="cid" />
		<result property="content" column="content" />
		<result property="userId" column="userId" />
		<result property="userName" column="userName" />
		<result property="userImg" column="userImg" />
		<result property="nid" column="nid" />
		<collection property="answers" column="cid" 
			select="com.xiangyue.moodshare.dao.AnswerDao.getAnswers" />
	</resultMap>

	<insert id="insert" parameterType="com.xiangyue.moodshare.entity.Comment">
		insert into comment(
		<include refid="Base_Column" />
		)
		values(
		null,
		#{content},
		#{userId},
		#{userName},
		#{userImg},
		#{nid}
		)
	</insert>

	<select id="getComments" resultMap="Base_Map" parameterType="java.lang.Long">
		select
		<include refid="Base_Column" />
		from comment
		where nid=#{nid}
	</select>

	<delete id="delete">
		delete from comment
		where
		cid = #{cid}
	</delete>

</mapper>