<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyue.moodshare.dao.ZanswerDao">

	<sql id="Base_Column">
		zid,
		content,
		huserId,
		huserName,
		huserImg,
		buserId,
		buserName,
		buserImg,
		aid
	</sql>

	<resultMap type="com.xiangyue.moodshare.entity.Zanswer" id="Base_Map">
		<id property="zid" column="zid" />
		<result property="content" column="content" />
		<result property="huserId" column="huserId" />
		<result property="huserName" column="huserName" />
		<result property="huserImg" column="userImg" />
		<result property="buserId" column="buserId" />
		<result property="buserName" column="buserName" />
		<result property="buserImg" column="buserImg" />
		<result property="aid" column="aid" />
	</resultMap>

	<insert id="insert" parameterType="com.xiangyue.moodshare.entity.Answer">
		insert into zanswer(
		<include refid="Base_Column" />
		)
		values(
		null,
		#{content},
		#{huserId},
		#{huserName},
		#{huserImg},
		#{buserId}
		#{buserName}
		#{buserImg}
		#{aid}
		)
	</insert>

	<select id="getZanswers" resultMap="Base_Map" parameterType="java.lang.Long">
		select
		<include refid="Base_Column" />
		from zanswer
		where aid=#{aid}
	</select>

	<delete id="delete">
		delete from answer
		where
		zid = #{zid}
	</delete>

</mapper>